<div class="credits-cont">
    <h2 class="title">A Project for Web Technologies Lab (CL68).</h2>
    <h3 class="title">By : </h3>
    <div class="profile-cont">
        <div class="profile">
            <img src="assets/account.png">
            <div class="details">
                <h4>NAME: Deepak</h4>
                <h4>USN: 1MS18CS403</h4>
                <h4>GITHUB: <a href="https://github.com/deepakr1618">Github</a></h4>
            </div>
        </div>
        <div class="profile">
            <img src="assets/account.png">
            <div class="details">
                <h4>NAME: Sathvik B</h4>
                <h4>USN: 1MS17CS148</h4>
                <h4>GITHUB: <a href="https://github.com/sathvikbk123">Github</a></h4>
            </div>
        </div>
    </div>
</div>